.iconfont.icon-bilibili:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../fonts/iconfont/bilibili.svg") no-repeat center;
  background-size: contain;
  vertical-align: -0.15em;
}
